@import "./style.scss";

.page-header {
  padding: 20px 20px 25px 20px;
  display: flex;
  align-items: center;
  position: fixed;
  @include media-breakpoint-down(md) {
    position: unset;
  }
  width: 100%;
  z-index: 1000;
  > h2 {
    color: $white;
    font-size: 24px;
    font-weight: 600;
    @include media-breakpoint-down(md) {
      color: $black;
    }
    line-height: 25px;
    margin: 0;
  }

  > a .profile-avatar {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.11),
      0 5px 15px 0 rgba(0, 0, 0, 0.08) !important;

    background-color: rgba(50, 53, 56, 0.3) !important;
    transition: 0.3s all ease;
    &:hover {
      background-color: rgba(70, 138, 194, 0.5) !important;
    }
  }
}
