@import "./style.scss";
main {
  overflow-x: hidden;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  > .Carousel-root-1 {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    > .CarouselItem {
      .MuiPaper-elevation1 {
        box-shadow: none;
      }
      .bg-gradient {
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 20%,
          rgba(0, 0, 0, 0.1) 30%,
          rgba(0, 0, 0, 0.8) 70%,
          black 100%
        );
        @include media-breakpoint-down(sm) {
          margin: 0px 20px;
          border-radius: 15px;
        }
      }

      .card-overlay {
        background-position: center center;
        background-size: cover !important;

        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        position: absolute;
        z-index: 1;
      }
    }

    > .Carousel-buttonWrapper-5 {
      z-index: 100;
      height: 100vh !important;
      @include media-breakpoint-down(sm) {
        height: 300px !important;
      }
    }

    > .Carousel-indicators-2 {
      position: absolute;
      bottom: 10%;
      z-index: 100;
      > svg {
        width: 13px;
        margin: 0px 3px;
      }
    }
  }

  > .product-categories-slider {
    width: 100%;

    > header {
      padding: 20px 20px !important;
      display: flex;
      align-items: center;
      > h5 {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        margin: 0;
      }
      > span {
        font-size: 13px;
        cursor: pointer;
        color: #4a89dc;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    > .slider {
      display: flex;
      overflow: hidden;
      margin-top: 20px;
      > .slider-wrapper {
        width: 100%;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        > .products {
          width: 915px;
          min-width: 915px;
          @include media-breakpoint-down(md) {
            min-width: 570px;
          }
          @include media-breakpoint-down(sm) {
            min-width: 170px;
          }

          position: relative;
          margin: 0px 10px;
          > .image-card {
            border-radius: 20px;
            height: 185px;
            background-position: center center;
            background-size: cover !important;
          }
          > .title-bar {
            @include media-breakpoint-down(sm) {
              width: 100%;
              text-align: center;
            }
            position: absolute;
            bottom: 0%;
            left: 1%;
            z-index: 2;
            > span {
              font-size: 30px;
              @include media-breakpoint-down(sm) {
                font-size: 25px;
              }
              font-weight: 700;
              color: $white;
            }
          }
          .bg-gradient {
            background: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0) 20%,
              rgba(0, 0, 0, 0.1) 30%,
              rgba(0, 0, 0, 0.8) 70%,
              black 100%
            );

            border-radius: 15px;
          }

          .card-overlay {
            background-position: center center;
            background-size: cover !important;

            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            position: absolute;
            z-index: 1;
          }
        }
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: none !important;
          background-color: transparent;
        }

        &::-webkit-scrollbar {
          width: 3px !important;
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }
      }
    }
  }

  > .business-strategy-card {
    width: 100%;
    padding: 20px 20px;
    > .card {
      > .card-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        h5 {
          text-align: center;
          font-weight: 600;
        }
        p {
          font-size: 15px;
        }
      }
      > .card-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > .strategy-card {
          flex: 1;
          min-width: 350px;
          > .card-body {
            display: flex;
            flex-direction: column;

            align-items: center;
            > .icon-place {
              margin-bottom: 10px;
            }
            > .title {
              font-size: 20px;
              font-weight: 500;
            }
            > .description {
              font-size: 15px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
